{% extends 'base.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Dishes list</h4>
            </div>
            <div class="page-btn">
                <a href="/add_dish" class="btn btn-added">
                    <img src="../static/img/icons/plus.svg" class="me-1" alt="img">Add Dish
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="../static/img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                            <tr>
                                <th>Prepared In Kitchen</th>
                                <th>Dish Category</th>
                                <th>Dish Name</th>
                                <th>Prepared Quantity</th>
                                <th>Prepared On</th>
                            </tr>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detail in prepared_dishes %}
                            <tr>
                                <td>{{ detail['kitchen_name'] }}</td>
                                <td>{{ detail['dish_category'] }}</td>
                                <td>{{ detail['dish_name'] }}</td>
                                <td>{{ detail['prepared_quantity'] }}</td>
                                <td>{{ detail['prepared_on'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="../static/plugins/select2/js/select2.min.js"></script>
<script src="../static/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="../static/plugins/sweetalert/sweetalerts.min.js"></script>
{% endblock %}
