{% extends 'base.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Transfer List</h4>
                <h6>Manage your Transfer</h6>
            </div>
            <div class="page-btn">
                <a href="/transfer_raw_material" class="btn btn-added">
                    <img src="../static/img/icons/plus.svg" alt="img">Transfer Raw Material
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="../static/img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table datanew">
                        <thead>
                            <tr>
                                <th>Raw Material</th>
                                <th>Quantity</th>
                                <th>Metric</th>
                                <th>Dish Name</th>
                                <th>Source Inventory</th>
                                <th>Destination Type</th>
                                <th>Destination Id</th>
                                <th>Transfered on</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transfer in transfers %}
                            <tr>
                                <td>{{ transfer[0]}}</td>
                                <td>{{ transfer[1]}}</td>
                                <td>{{ transfer[2] }}</td>
                                <td>{{ transfer[3] }}</td>
                                <td>{{ transfer[4] }}</td>
                                <td>{{ transfer[5] }}</td>
                                <td>{{ transfer[6] }}</td>
                                <td>{{ transfer[7] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="../static/plugins/select2/js/select2.min.js"></script>
<script src="../static/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="../static/plugins/sweetalert/sweetalerts.min.js"></script>
{% endblock %}
