{% extends 'base.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Prepared Dishes Transfer List</h4>
                <h6>Manage your Prepared Dishes Transfer</h6>
            </div>
            <div class="page-btn">
                <a href="/transfer_prepared_dishes" class="btn btn-added">
                    <img src="../static/img/icons/plus.svg" alt="img">Transfer Raw Material
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="../static/img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table datanew">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Transferred From</th>
                                <th>Transferred To</th>
                                <th>Dish Category</th>
                                <th>Dish Name</th>
                                <th>Quantity</th>
                                <th>Transferred on</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transfer in transfers %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ transfer['kitchen_name']}}</td>
                                <td>{{ transfer['restaurant_name']}}</td>
                                <td>{{ transfer['dish_category'] }}</td>
                                <td>{{ transfer['dish_name'] }}</td>
                                <td>{{ transfer['transferred_quantity'] }}</td>
                                <td>{{ transfer['transferred_on'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="../static/plugins/select2/js/select2.min.js"></script>
<script src="../static/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="../static/plugins/sweetalert/sweetalerts.min.js"></script>
{% endblock %}
