{% extends 'base.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>PURCHASE LIST</h4>
                <h6>Manage your purchases</h6>
            </div>
            <div class="page-btn">
                <a href="/add_purchase" class="btn btn-added">
                    <img src="../static/img/icons/plus.svg" alt="img">Add New Purchases
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="../static/img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table datanew">
                        <thead>
                            <tr>
                                <th>Puchase ID</th>
                                <th>Invoice Number</th>
                                <th>Vendor</th>
                                <th>Raw Material</th>
                                <th>Quantity</th>
                                <th>Metric</th>
                                <th>Total Cost(Rs)</th>
                                <th>Purchase Date</th>
                                <th>Storage Room</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for purchase in purchases %}
                            <tr>
                                <td>{{ purchase['id']}}</td>
                                <td>{{ purchase['invoice_number']}}</td>
                                <td>{{ purchase['vendor_name'] }}</td>
                                <td>{{ purchase['raw_material_name']}}</td>
                                <td>{{ purchase['quantity'] }}</td>
                                <td>{{ purchase['metric'] }}</td>
                                <td>{{ purchase['total_cost'] }}</td>
                                <td>{{ purchase['purchase_date'] }}</td>
                                <td>{{ purchase['storageroom_name'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
